.text {
    text-align: center;
    color: blueviolet;
}

.calculator-body {
    /* background-color: darkgrey; */
    height: 280px;
    width: 210px;
    margin: auto;
    margin-top: 10px;
    border: 3px solid rgb(102, 97, 97);
    border-radius: 10px;
    padding: 10px;

}

#result {
    font-size: large;
    font-weight: 700;
    width: 200px;
    height: 30px;
    border: 2px solid navy;
    background-color: cornflowerblue;
    text-align: right;

}

#result::placeholder {
    color: white;
}

.calButton button {
    margin: 2px 0;
    width: 48px;
    height: 45px;
    background-color: rgb(54, 51, 51);
    border: 2px solid rgb(178, 34, 137);
    color: #fff;
    border-radius: 50%;
    box-shadow: -5px 5px 2px gray;

}

.calButton {
    margin-left: 2px;
}